/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root */

:root {
    --dark-100: #121212;
    --dark-200: #282828;
    --dark-300: #3f3f3f;
    --dark-400: #575757;
    --dark-500: #717171;
    --dark-600: #8b8b8b;
    --primary-100: #382bf0;
    --primary-200: #5e43f3;
    --primary-300: #7a5af5;
    --primary-400: #9171f8;
    --primary-500: #a688fa;
    --primary-600: #ba9ffb;
    --mixed-100: #1a1625;
    --mixed-200: #2f2b3a;
    --mixed-300: #46424f;
    --mixed-400: #5e5a66;
    --mixed-500: #76737e;
    --mixed-600: #908d96;
}

/* Global */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-100);
}

body {
    background-color: var(--dark-100);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-500);
}

.box_title {
    background-color: var(--dark-200);
    padding: 1rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
}